<nav>
    <div class="navbar">
        <ul>
            <li>
                <a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">HOME</a>
            </li>
            <li>
                <a [routerLink]="['/mfe1']" [routerLinkActive]="['active']">MFE1</a>
            </li>
            <li>
                <a [routerLink]="['/mfe2']" [routerLinkActive]="['active']">MFE2</a>
            </li>
            <li>
                <button (click)="shareData()">Share data</button>
            </li>
        </ul>
    </div>
</nav>