<nav>
    <div class="navbar">
        <ul>
            <li class="nav-item">
                <a [routerLink]="['/']">HOME</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/mfe1']">MFE1</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/mfe2']">MFE2</a>
            </li>
            <!-- <li class="nav-item ml-3">
                    <button (click)="shareData()">Share data</button>
                </li> -->
        </ul>
    </div>
</nav>